PLANTNET_API_KEY=sua-chave-aqui
PLANTNET_API_URL=https://my-api.plantnet.org/v2/identify/all
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
FAISS_INDEX_PATH=./data/plants.index
LABELS_PATH=./data/labels.npy
LLM_API_KEY=sua-chave-aqui
LLM_MODEL=gemini-3.1-flash-lite